<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id_to_manage, "ホテル管理者ID" %>
    <%= form.number_field :user_id_to_manage, id: :hotel_user_id_to_manage %>
  </div>

  <div class="field">
    <%= form.label :name, "ホテル名" %>
    <%= form.text_field :name, id: :hotel_name %>
  </div>

  <div class="field">
    <%= form.label :summary, "概要(MarkDown記述可能)" %>
    <%= form.text_area :summary, id: :hotel_summary %>
  </div>

  <div class="field">
    <%= form.label :hotel_url, "ホテルホームページ" %>
    <%= form.url_field :hotel_url, id: :hotel_hotel_url %>
  </div>

  <div class="field">
    <%= form.label :street_address, "ホテル住所" %>
    <%= form.text_field :street_address, id: :hotel_street_address %>
  </div>

  <div class="field">
    <%= form.label :phone_number, "ホテル連絡先" %>
    <%= form.telephone_field :phone_number, id: :hotel_phone_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
