<p id="notice"><%= notice %></p>

<h1>ホテル一覧</h1>


検索
<%= form_tag("/search_hotel", method: "post") do %>
  <%= text_field_tag 'word' %>
  <%= submit_tag("検索") %>
<% end %>

<ul>
  <% @hotels.each do |hotel| %>
    <li><%= link_to hotel.name, hotel %></li>
  <% end %>
</ul>

<br>

<style>
#map {
  height: 100%;
}
html, body {
  height: 100%;
}
</style>
<div id="map"></div>

<script>
var map;
var marker = [];
var infoWindow = [];
var markerData = <%= raw @map %>;

function initMap() {
  // 地図の作成
  var mapLatLng = new google.maps.LatLng({lat: 35.6730185, lng: 139.4302008}); // 緯度経度のデータ作成
    map = new google.maps.Map(document.getElementById('map'), { // #sampleに地図を埋め込む
      center: mapLatLng, // 地図の中心を指定
      zoom: 6 // 地図のズームを指定
    });

    // マーカー毎の処理
    for (var i = 0; i < markerData.length; i++) {
      markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
        marker[i] = new google.maps.Marker({ // マーカーの追加
          position: markerLatLng, // マーカーを立てる位置を指定
          map: map // マーカーを立てる地図を指定
        });

        infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
          content: '<div class="sample">' + markerData[i]['name'] + '</div>' // 吹き出しに表示する内容
        });

        markerEvent(i); // マーカーにクリックイベントを追加
    }

    // marker[0].setOptions({// TAM 東京のマーカーのオプション設定
    //   icon: {
    //     url: markerData[0]['icon']// マーカーの画像を変更
    //   }
    // });
    }

// マーカーにクリックイベントを追加
function markerEvent(i) {
  marker[i].addListener('click', function() { // マーカーをクリックしたとき
    infoWindow[i].open(map, marker[i]); // 吹き出しの表示
  });

}
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["MAP_TOKEN"]}&callback=initMap&libraries=places,geometry", async: true, defer: true %>
