<!DOCTYPE html>
<html>
  <head>
    <title>LoveChoice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "ホテル一覧", hotels_path %>
        <% if user_signed_in? %>
          <strong><%= link_to "ようこそ#{current_user.first_name}様", home_show_path %></strong>
        <% else %>
          <%= link_to 'サインイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
